[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggvoronoi"]
	path = ggvoronoi
	url = https://github.com/garretrc/ggvoronoi
	shallow = true
	registered = true
